.pagina-dos-cards {
    background: linear-gradient(296.82deg, #171717 0%, #2D2D2D 100%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}